In [2]:
from pandas import Series,DataFrame
import pandas as pd
import numpy as np

df = DataFrame({'key1':['a','a','b','b','a'],
               'key2':['one','two','one','two','one'],
               'data1':np.random.randn(5),
               'data2':np.random.randn(5)})
df

      data1     data2 key1 key2
0 -0.314194 -0.262967    a  one
1  0.816434 -0.324026    a  two
2  0.516053  0.087723    b  one
3  0.440664  0.740848    b  two
4  0.019354 -0.213631    a  one

In [3]:
grouped = df['data1'].groupby(df['key1'])
grouped

In [4]:
grouped.mean()

key1
a    0.173865
b    0.478359
Name: data1, dtype: float64

In [5]:
means = df['data1'].groupby([df['key1'],df['key2']]).mean()
means

key1  key2
a     one    -0.147420
      two     0.816434
b     one     0.516053
      two     0.440664
Name: data1, dtype: float64

In [6]:
means.unstack()

key2       one       two
key1
a    -0.147420  0.816434
b     0.516053  0.440664

In [7]:
states = np.array(['Ohio','California','California','Ohio','Ohio'])
years = np.array([2005,2005,2006,2005,2006])
df['data1'].groupby([states,years]).mean()

California  2005    0.816434
            2006    0.516053
Ohio        2005    0.063235
            2006    0.019354
Name: data1, dtype: float64

In [8]:
df.groupby(['key1','key2']).mean()

              data1     data2
key1 key2
a    one  -0.147420 -0.238299
     two   0.816434 -0.324026
b    one   0.516053  0.087723
     two   0.440664  0.740848

In [9]:
df.groupby('key1').mean()

         data1     data2
key1
a     0.173865 -0.266874
b     0.478359  0.414286

In [10]:
df.groupby(['key1','key2']).size()

key1  key2
a     one     2
      two     1
b     one     1
      two     1
dtype: int64

In [16]:
for name,group in df.groupby('key1'):
    print(name)
    print(group)

a
      data1     data2 key1 key2
0 -0.314194 -0.262967    a  one
1  0.816434 -0.324026    a  two
4  0.019354 -0.213631    a  one
b
      data1     data2 key1 key2
2  0.516053  0.087723    b  one
3  0.440664  0.740848    b  two

In [20]:
for (k1,k2),group in df.groupby(['key1','key2']):
    print(k1,k2)
    print(group)

a one
      data1     data2 key1 key2
0 -0.314194 -0.262967    a  one
4  0.019354 -0.213631    a  one
a two
      data1     data2 key1 key2
1  0.816434 -0.324026    a  two
b one
      data1     data2 key1 key2
2  0.516053  0.087723    b  one
b two
      data1     data2 key1 key2
3  0.440664  0.740848    b  two

a one       data1     data2 key1 key2
0 -0.314194 -0.262967    a  one
4  0.019354 -0.213631    a  one
a two       data1     data2 key1 key2
1  0.816434 -0.324026    a  two
b one       data1     data2 key1 key2
2  0.516053  0.087723    b  one
b two       data1     data2 key1 key2
3  0.440664  0.740848    b  two

In [22]:
pieces = dict(list(df.groupby('key1')))
pieces

{'a':       data1     data2 key1 key2
 0 -0.314194 -0.262967    a  one
 1  0.816434 -0.324026    a  two
 4  0.019354 -0.213631    a  one, 'b':       data1     data2 key1 key2
 2  0.516053  0.087723    b  one
 3  0.440664  0.740848    b  two}

In [23]:
df.dtypes

data1    float64
data2    float64
key1      object
key2      object
dtype: object

In [24]:
grouped = df.groupby(df.dtypes,axis=1)
dict(list(grouped))

{dtype('float64'):       data1     data2
 0 -0.314194 -0.262967
 1  0.816434 -0.324026
 2  0.516053  0.087723
 3  0.440664  0.740848
 4  0.019354 -0.213631, dtype('O'):   key1 key2
 0    a  one
 1    a  two
 2    b  one
 3    b  two
 4    a  one}

In [25]:
df.groupby('key1')['data1']

In [26]:
df.groupby('key1')[['data2']]

In [27]:
df['data1'].groupby(df['key1'])
df[['data2']].groupby(df['key1'])

In [28]:
df.groupby(['key1','key2'])[['data2']].mean()

              data2
key1 key2
a    one  -0.238299
     two  -0.324026
b    one   0.087723
     two   0.740848

In [30]:
people = DataFrame(np.random.randn(5,5),
                   columns=['a','b','c','d','e'],
                   index=['Joe','Steve','Wes','Jim','Travis'])

people.ix[2:3,['b','c']]

d:\www\learn-python\venv\lib\site-packages\ipykernel_launcher.py:5: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """

            b         c
Wes  0.105234 -0.735633

In [31]:
people

               a         b         c         d         e
Joe     0.222830 -0.809951 -0.240723  0.247092 -0.183390
Steve   0.538010  0.072779 -0.899364 -0.202557  0.731332
Wes     0.084049  0.105234 -0.735633  0.035199 -0.721655
Jim    -0.337985  0.548584 -1.602759 -0.030541 -0.274049
Travis  1.870087  0.941345  0.021287  0.746557 -1.264774